main {
    padding: 0 5%;
}
h4 {
    text-align: center;
    padding: 10px;
    color: #006D77;
}

.form-group {
    padding: 5px 0;
}

.form-group label {
    padding: 10px 0;
    font-size: large;
}

.form-check {
    padding-top: 10px;
}

.col {
    padding: 10px;
}

#btn {
    margin-top: 10px;
    width: fit-content;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #006D77;
    border-color: #006D77;
}

.btn-primary:hover {
    background-color: white;
    border: 2px solid #006D77;
    color: #006D77;
    font-weight: 600;
    transition: 0.2s ease;
}
